<div class="container center mt-5">
    <div class="mb-3">
        <label for="Inputname" class="form-label">Name</label>
        <input [(ngModel)]="name" type="text" class="form-control" id="Inputname" />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
        <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button (click)="updateUser()" class="btn btn-primary">SignUp</button>
    <!-- <div *ngIf="signupStatus">|Sign up successful. Please log in <a routerLink="/login">here</a></div>
    <div *ngIf="!signupStatus">Sorry, something went wrong. Server responded with{{ signupmessage.sqlMessage}}</div> -->
</div>