.card-img-top {
    height: 300px;
    background-size: cover;
    text-align: right;
}

.close {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeout {
    border: 3px solid;
    animation: fadeout 2s;
}